[Unit]
Description=Delay Service
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=vtd
Group=vtd

Type=simple

Environment="JAVA_HOME=/usr/lib/jvm/openjdk19"
WorkingDirectory=/opt/vtd/delay-service
ExecStart=/usr/lib/jvm/openjdk19/bin/java -Xms750m -Xmx750m -jar delay-service.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
